* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgDiv {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.imgDiv img {
  display: block;
  height: 80px;              
  width: calc(100% - 200px); 
  margin: 0 auto;
  object-fit: cover;
}
.imgDiv img {
  display: block;
  height: 170px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 600px) {
  .imgDiv img {
    height: auto;        
    width: 90%;           
    max-width: 100%;      
  }
}
